In [88]:
import pandas as pd
from sqlalchemy import create_engine

In [89]:
csv_file = "countypres_2000-2016.csv"
df = pd.read_csv(csv_file)
df.head()

,year,state,state_po,county,FIPS,office,candidate,party,candidatevotes,totalvotes,version
0,2000,Alabama,AL,Autauga,1001.0,President,Al Gore,democrat,4942.0,17208.0,20181011
1,2000,Alabama,AL,Autauga,1001.0,President,George W. Bush,republican,11993.0,17208.0,20181011
2,2000,Alabama,AL,Autauga,1001.0,President,Ralph Nader,green,160.0,17208.0,20181011
3,2000,Alabama,AL,Autauga,1001.0,President,Other,NaN,113.0,17208.0,20181011
4,2000,Alabama,AL,Baldwin,1003.0,President,Al Gore,democrat,13997.0,56480.0,20181011

In [90]:
df.count()

year              50528
state             50528
state_po          50464
county            50528
FIPS              50464
office            50528
candidate         50528
party             34738
candidatevotes    50120
totalvotes        49138
version           50528
dtype: int64

In [91]:
#delete rows with no candidate votes
df = df.loc[df["candidatevotes"].notna(), :]
df = df.loc[df["candidatevotes"] > 0, :]

In [92]:
# fix null fields for "other" party rows
df.loc[df['candidate'].eq('Other') & df['party'].isnull(), 'party'] = 'other'

In [93]:
# fix null FIPS fields, which only occurred for four states
df.loc[df['state'].eq('Alaska') & df['state_po'].isnull()& df['FIPS'].isnull(), 'FIPS'] = 0
df.loc[df['state'].eq('Maine') & df['state_po'].isnull()& df['FIPS'].isnull(), 'FIPS'] = 0
df.loc[df['state'].eq('Connecticut') & df['state_po'].isnull()& df['FIPS'].isnull(), 'FIPS'] = 0
df.loc[df['state'].eq('Rhode Island') & df['state_po'].isnull()& df['FIPS'].isnull(), 'FIPS'] = 0

In [94]:
# fix null state_po fields, which only occurred for four states
df.loc[df['state'].eq('Alaska') & df['state_po'].isnull(), 'state_po'] = 'AL'
df.loc[df['state'].eq('Maine') & df['state_po'].isnull(), 'state_po'] = 'ME'
df.loc[df['state'].eq('Connecticut') & df['state_po'].isnull(), 'state_po'] = 'CT'
df.loc[df['state'].eq('Rhode Island') & df['state_po'].isnull(), 'state_po'] = 'RI'

In [95]:
# now no null fields remain, except for totalvotes field which will not be used
df.count()

year              49952
state             49952
state_po          49952
county            49952
FIPS              49952
office            49952
candidate         49952
party             49952
candidatevotes    49952
totalvotes        48970
version           49952
dtype: int64

In [96]:
# check year column - looks ok
counts = df["year"].value_counts()
counts

2000    12332
2016     9468
2012     9391
2008     9382
2004     9379
Name: year, dtype: int64

In [97]:
# check state_po column - looks ok since 51 rows for the 50 states plus DC
counts = df["state_po"].value_counts()
counts

TX    4053
GA    2517
VA    2141
KY    1920
MO    1852
KS    1680
IL    1632
IA    1584
TN    1520
NC    1500
NE    1487
IN    1469
OH    1408
MN    1392
MI    1328
MS    1312
AR    1200
WI    1152
AL    1075
FL    1072
PA    1072
LA    1024
CO    1020
NY     992
SD     990
CA     928
OK     924
MT     896
WV     880
ND     848
SC     736
ID     704
AK     640
WA     624
OR     576
NM     528
UT     464
MD     384
WY     368
NJ     336
NV     272
ME     262
AZ     240
MA     224
VT     224
NH     160
CT     131
RI      83
HI      64
DE      48
DC      16
Name: state_po, dtype: int64

In [98]:
# add four new columns
df["dem_votes"] = 0
df["rep_votes"] = 0
df["oth_votes"] = 0
df["tot_votes"] = 0

In [99]:
# populate three of new columns with values
df.loc[df['party'].eq('democrat'), 'dem_votes'] = df["candidatevotes"]
df.loc[df['party'].eq('republican'), 'rep_votes'] = df["candidatevotes"]
df.loc[(df['party'] != 'democrat') & (df['party'] != 'republican'), 'oth_votes'] = df["candidatevotes"]

In [100]:
# to check calculations from last cell
df.head()

,year,state,state_po,county,FIPS,office,candidate,party,candidatevotes,totalvotes,version,dem_votes,rep_votes,oth_votes,tot_votes
0,2000,Alabama,AL,Autauga,1001.0,President,Al Gore,democrat,4942.0,17208.0,20181011,4942.0,0.0,0.0,0
1,2000,Alabama,AL,Autauga,1001.0,President,George W. Bush,republican,11993.0,17208.0,20181011,0.0,11993.0,0.0,0
2,2000,Alabama,AL,Autauga,1001.0,President,Ralph Nader,green,160.0,17208.0,20181011,0.0,0.0,160.0,0
3,2000,Alabama,AL,Autauga,1001.0,President,Other,other,113.0,17208.0,20181011,0.0,0.0,113.0,0
4,2000,Alabama,AL,Baldwin,1003.0,President,Al Gore,democrat,13997.0,56480.0,20181011,13997.0,0.0,0.0,0

In [101]:
# delete some columns
df = df[["year", "state", "state_po", "county", "FIPS", "dem_votes",
         "rep_votes", "oth_votes", "tot_votes"]]

# calculate tot_votes column
df["tot_votes"] = df["dem_votes"] + df["rep_votes"] + df["oth_votes"]
df.head()

,year,state,state_po,county,FIPS,dem_votes,rep_votes,oth_votes,tot_votes
0,2000,Alabama,AL,Autauga,1001.0,4942.0,0.0,0.0,4942.0
1,2000,Alabama,AL,Autauga,1001.0,0.0,11993.0,0.0,11993.0
2,2000,Alabama,AL,Autauga,1001.0,0.0,0.0,160.0,160.0
3,2000,Alabama,AL,Autauga,1001.0,0.0,0.0,113.0,113.0
4,2000,Alabama,AL,Baldwin,1003.0,13997.0,0.0,0.0,13997.0

In [102]:
# groupby
df1 = df.groupby(['year', 'state', 'county'])

# calculate summary data
dem = df1["dem_votes"].sum()
rep = df1["rep_votes"].sum()
oth = df1["oth_votes"].sum()
tot = df1["tot_votes"].sum()

# create new dataframe with summary data
summary = pd.DataFrame({"dem":dem, 
                        "rep": rep, "oth": oth, "tot": tot})
summary.head()

                          dem      rep     oth      tot
year state   county
2000 Alabama Autauga   4942.0  11993.0   273.0  17208.0
             Baldwin  13997.0  40872.0  1611.0  56480.0
             Barbour   5188.0   5096.0   111.0  10395.0
             Bibb      2710.0   4273.0   118.0   7101.0
             Blount    4977.0  12667.0   329.0  17973.0

In [103]:
# show year abd state in every row
summary.reset_index()

       year      state       county      dem       rep      oth       tot
0      2000    Alabama      Autauga   4942.0   11993.0    273.0   17208.0
1      2000    Alabama      Baldwin  13997.0   40872.0   1611.0   56480.0
2      2000    Alabama      Barbour   5188.0    5096.0    111.0   10395.0
3      2000    Alabama         Bibb   2710.0    4273.0    118.0    7101.0
4      2000    Alabama       Blount   4977.0   12667.0    329.0   17973.0
5      2000    Alabama      Bullock   3395.0    1433.0     76.0    4904.0
6      2000    Alabama       Butler   3606.0    4127.0     70.0    7803.0
7      2000    Alabama      Calhoun  15781.0   22306.0    822.0   38909.0
8      2000    Alabama     Chambers   5616.0    6037.0    181.0   11834.0
9      2000    Alabama     Cherokee   3497.0    4154.0    172.0    7823.0
10     2000    Alabama      Chilton   4806.0   10066.0    220.0   15092.0
11     2000    Alabama      Choctaw   3707.0    3600.0     67.0    7374.0
12     2000    Alabama       Clarke   4679.0    5988.0     85.0   10752.0
13     2000    Alabama         Clay   2045.0    3719.0    119.0    5883.0
14     2000    Alabama     Cleburne   1664.0    3333.0     95.0    5092.0
15     2000    Alabama       Coffee   5220.0    9938.0    276.0   15434.0
16     2000    Alabama      Colbert  10543.0   10518.0    471.0   21532.0
17     2000    Alabama      Conecuh   2783.0    2699.0     69.0    5551.0
18     2000    Alabama        Coosa   2104.0    2382.0     81.0    4567.0
19     2000    Alabama    Covington   4440.0    8961.0    212.0   13613.0
20     2000    Alabama     Crenshaw   1934.0    2793.0     68.0    4795.0
21     2000    Alabama      Cullman   9758.0   19157.0    610.0   29525.0
22     2000    Alabama         Dale   4906.0   10593.0    307.0   15806.0
23     2000    Alabama       Dallas  10967.0    7360.0    137.0   18464.0
24     2000    Alabama       DeKalb   7056.0   12827.0    402.0   20285.0
25     2000    Alabama       Elmore   6652.0   16777.0    375.0   23804.0
26     2000    Alabama     Escambia   4523.0    6975.0    162.0   11660.0
27     2000    Alabama       Etowah  17433.0   21087.0    828.0   39348.0
28     2000    Alabama      Fayette   3064.0    4582.0    162.0    7808.0
29     2000    Alabama     Franklin   4793.0    6119.0    191.0   11103.0
...     ...        ...          ...      ...       ...      ...       ...
15718  2016  Wisconsin     Washburn   3284.0    5404.0    460.0    9148.0
15719  2016  Wisconsin   Washington  20855.0   51729.0   5419.0   78003.0
15720  2016  Wisconsin     Waukesha  79200.0  142521.0  17321.0  239042.0
15721  2016  Wisconsin      Waupaca   8440.0   16189.0   1395.0   26024.0
15722  2016  Wisconsin     Waushara   3792.0    7669.0    538.0   11999.0
15723  2016  Wisconsin    Winnebago  37054.0   43448.0   6642.0   87144.0
15724  2016  Wisconsin         Wood  14232.0   21503.0   2065.0   37800.0
15725  2016    Wyoming       Albany   6890.0    7602.0   2568.0   17060.0
15726  2016    Wyoming     Big Horn    604.0    4067.0    646.0    5317.0
15727  2016    Wyoming     Campbell   1324.0   15778.0   1097.0   18199.0
15728  2016    Wyoming       Carbon   1279.0    4409.0    686.0    6374.0
15729  2016    Wyoming     Converse    668.0    5520.0    466.0    6654.0
15730  2016    Wyoming        Crook    273.0    3348.0    205.0    3826.0
15731  2016    Wyoming      Fremont   4200.0   11167.0   1656.0   17023.0
15732  2016    Wyoming       Goshen    924.0    4418.0    454.0    5796.0
15733  2016    Wyoming  Hot Springs    400.0    1939.0    247.0    2586.0
15734  2016    Wyoming      Johnson    638.0    3477.0    302.0    4417.0
15735  2016    Wyoming      Laramie  11573.0   24847.0   4549.0   40969.0
15736  2016    Wyoming      Lincoln   1105.0    6779.0    991.0    8875.0
15737  2016    Wyoming      Natrona   6577.0   23552.0   3219.0   33348.0
15738  2016    Wyoming     Niobrara    115.0    1116.0     83.0    1314.0
15739  2016    Wyoming         Park   2535.0   11115.0   1445.0   15095.0
15740  2016    Wyoming       Platte    719.0    3437.0    373.0    4529.0
15741  2016    Wyoming     Sheridan   2927.0   10266.0   1317.0   14510.0
15742  2016    Wyoming     Sublette    644.0    3409.0    337.0    4390.0
15743  2016    Wyoming   Sweetwater   3231.0   12154.0   1745.0   17130.0
15744  2016    Wyoming        Teton   7314.0    3921.0   1392.0   12627.0
15745  2016    Wyoming        Uinta   1202.0    6154.0   1114.0    8470.0
15746  2016    Wyoming     Washakie    532.0    2911.0    371.0    3814.0
15747  2016    Wyoming       Weston    299.0    3033.0    194.0    3526.0

[15748 rows x 7 columns]

In [104]:
import sqlalchemy
import psycopg2
from sqlalchemy import create_engine
engine = create_engine('postgresql://postgres:Peter@1947@localhost/VotingProject')
summary.to_sql("pres_hist",engine)