In [781]:
import pandas as pd
from sqlalchemy import create_engine

In [782]:
csv_file = "countypres_2000-2016.csv"
df = pd.read_csv(csv_file)
df.head()

,year,state,state_po,county,FIPS,office,candidate,party,candidatevotes,totalvotes,version
0,2000,Alabama,AL,Autauga,1001.0,President,Al Gore,democrat,4942.0,17208.0,20181011
1,2000,Alabama,AL,Autauga,1001.0,President,George W. Bush,republican,11993.0,17208.0,20181011
2,2000,Alabama,AL,Autauga,1001.0,President,Ralph Nader,green,160.0,17208.0,20181011
3,2000,Alabama,AL,Autauga,1001.0,President,Other,NaN,113.0,17208.0,20181011
4,2000,Alabama,AL,Baldwin,1003.0,President,Al Gore,democrat,13997.0,56480.0,20181011

In [783]:
#delete rows with no candidate votes
df = df.loc[df["candidatevotes"].notna(), :]
df = df.loc[df["candidatevotes"] > 0, :]

In [784]:
df.loc[df['candidate'].eq('Other') & df['party'].isnull(), 'party'] = 'other'

In [785]:
df.loc[df['state'].eq('Alaska') & df['state_po'].isnull()& df['FIPS'].isnull(), 'FIPS'] = 0
df.loc[df['state'].eq('Maine') & df['state_po'].isnull()& df['FIPS'].isnull(), 'FIPS'] = 0
df.loc[df['state'].eq('Connecticut') & df['state_po'].isnull()& df['FIPS'].isnull(), 'FIPS'] = 0
df.loc[df['state'].eq('Rhode Island') & df['state_po'].isnull()& df['FIPS'].isnull(), 'FIPS'] = 0

In [786]:
df.loc[df['state'].eq('Alaska') & df['state_po'].isnull(), 'state_po'] = 'AL'
df.loc[df['state'].eq('Maine') & df['state_po'].isnull(), 'state_po'] = 'ME'
df.loc[df['state'].eq('Connecticut') & df['state_po'].isnull(), 'state_po'] = 'CT'
df.loc[df['state'].eq('Rhode Island') & df['state_po'].isnull(), 'state_po'] = 'RI'

In [787]:
df.count()

year              49952
state             49952
state_po          49952
county            49952
FIPS              49952
office            49952
candidate         49952
party             49952
candidatevotes    49952
totalvotes        48970
version           49952
dtype: int64

In [788]:
# check year column - looks ok
counts = df["year"].value_counts()
counts

2000    12332
2016     9468
2012     9391
2008     9382
2004     9379
Name: year, dtype: int64

In [789]:
# check year column - looks ok since 51 states with DC
counts = df["state_po"].value_counts()
counts

TX    4053
GA    2517
VA    2141
KY    1920
MO    1852
KS    1680
IL    1632
IA    1584
TN    1520
NC    1500
NE    1487
IN    1469
OH    1408
MN    1392
MI    1328
MS    1312
AR    1200
WI    1152
AL    1075
PA    1072
FL    1072
LA    1024
CO    1020
NY     992
SD     990
CA     928
OK     924
MT     896
WV     880
ND     848
SC     736
ID     704
AK     640
WA     624
OR     576
NM     528
UT     464
MD     384
WY     368
NJ     336
NV     272
ME     262
AZ     240
MA     224
VT     224
NH     160
CT     131
RI      83
HI      64
DE      48
DC      16
Name: state_po, dtype: int64

In [790]:
# check year column - looks ok since 51 states with DC
counts = df["FIPS"].value_counts()
counts

27157.0    16
17161.0    16
17171.0    16
21087.0    16
17169.0    16
31183.0    16
1073.0     16
20145.0    16
17167.0    16
17165.0    16
17163.0    16
29155.0    16
4009.0     16
17159.0    16
30049.0    16
17157.0    16
17155.0    16
20147.0    16
17153.0    16
21085.0    16
26119.0    16
17151.0    16
21073.0    16
17173.0    16
29153.0    16
17175.0    16
1075.0     16
17199.0    16
17197.0    16
31179.0    16
           ..
40017.0    12
40023.0    12
40021.0    12
40007.0    12
40049.0    12
40075.0    12
8014.0     12
40139.0    12
40073.0    12
40105.0    12
40071.0    12
40133.0    12
40069.0    12
40135.0    12
40003.0    12
40111.0    12
40067.0    12
40065.0    12
40051.0    12
40129.0    12
40109.0    12
40061.0    12
40131.0    12
40059.0    12
40005.0    12
40057.0    12
40055.0    12
40053.0    12
40153.0    12
40035.0    12
Name: FIPS, Length: 3155, dtype: int64

In [791]:
df1 = df.loc[df["state_po"].isna(), :]
df1 = df1.sort_values(["year", "state"])
df1

Empty DataFrame
Columns: [year, state, state_po, county, FIPS, office, candidate, party, candidatevotes, totalvotes, version]
Index: []

In [792]:
df2 = df.loc[df["party"].isna(), :]
#df2 = df2.sort_values(["year", "state"])
counts = df2["candidate"].value_counts()
counts

Series([], Name: candidate, dtype: int64)

In [793]:
df3 = df.loc[df["totalvotes"].isna(), :]
df3 = df3.sort_values(["year", "state"])
df3

,year,state,state_po,county,FIPS,office,candidate,party,candidatevotes,totalvotes,version
1604,2000,Georgia,GA,Baker,13007.0,President,Al Gore,democrat,893.0,NaN,20181011
1605,2000,Georgia,GA,Baker,13007.0,President,George W. Bush,republican,615.0,NaN,20181011
1607,2000,Georgia,GA,Baker,13007.0,President,Other,other,11.0,NaN,20181011
1624,2000,Georgia,GA,Ben Hill,13017.0,President,Al Gore,democrat,2234.0,NaN,20181011
1625,2000,Georgia,GA,Ben Hill,13017.0,President,George W. Bush,republican,2381.0,NaN,20181011
1627,2000,Georgia,GA,Ben Hill,13017.0,President,Other,other,46.0,NaN,20181011
1628,2000,Georgia,GA,Berrien,13019.0,President,Al Gore,democrat,1640.0,NaN,20181011
1629,2000,Georgia,GA,Berrien,13019.0,President,George W. Bush,republican,2718.0,NaN,20181011
1631,2000,Georgia,GA,Berrien,13019.0,President,Other,other,52.0,NaN,20181011
1648,2000,Georgia,GA,Bryan,13029.0,President,Al Gore,democrat,2172.0,NaN,20181011
1649,2000,Georgia,GA,Bryan,13029.0,President,George W. Bush,republican,4835.0,NaN,20181011
1651,2000,Georgia,GA,Bryan,13029.0,President,Other,other,52.0,NaN,20181011
1664,2000,Georgia,GA,Calhoun,13037.0,President,Al Gore,democrat,1107.0,NaN,20181011
1665,2000,Georgia,GA,Calhoun,13037.0,President,George W. Bush,republican,768.0,NaN,20181011
1667,2000,Georgia,GA,Calhoun,13037.0,President,Other,other,12.0,NaN,20181011
1672,2000,Georgia,GA,Candler,13043.0,President,Al Gore,democrat,1053.0,NaN,20181011
1673,2000,Georgia,GA,Candler,13043.0,President,George W. Bush,republican,1643.0,NaN,20181011
1675,2000,Georgia,GA,Candler,13043.0,President,Other,other,26.0,NaN,20181011
1708,2000,Georgia,GA,Clay,13061.0,President,Al Gore,democrat,821.0,NaN,20181011
1709,2000,Georgia,GA,Clay,13061.0,President,George W. Bush,republican,448.0,NaN,20181011
1711,2000,Georgia,GA,Clay,13061.0,President,Other,other,8.0,NaN,20181011
1716,2000,Georgia,GA,Clinch,13065.0,President,Al Gore,democrat,816.0,NaN,20181011
1717,2000,Georgia,GA,Clinch,13065.0,President,George W. Bush,republican,1091.0,NaN,20181011
1719,2000,Georgia,GA,Clinch,13065.0,President,Other,other,22.0,NaN,20181011
1772,2000,Georgia,GA,Dooly,13093.0,President,Al Gore,democrat,1901.0,NaN,20181011
1773,2000,Georgia,GA,Dooly,13093.0,President,George W. Bush,republican,1588.0,NaN,20181011
1775,2000,Georgia,GA,Dooly,13093.0,President,Other,other,31.0,NaN,20181011
1788,2000,Georgia,GA,Echols,13101.0,President,Al Gore,democrat,272.0,NaN,20181011
1789,2000,Georgia,GA,Echols,13101.0,President,George W. Bush,republican,614.0,NaN,20181011
1791,2000,Georgia,GA,Echols,13101.0,President,Other,other,12.0,NaN,20181011
...,...,...,...,...,...,...,...,...,...,...,...
19266,2004,Oklahoma,OK,Texas,40139.0,President,George W. Bush,republican,5450.0,NaN,20181011
19268,2004,Oklahoma,OK,Tillman,40141.0,President,John Kerry,democrat,1175.0,NaN,20181011
19269,2004,Oklahoma,OK,Tillman,40141.0,President,George W. Bush,republican,2273.0,NaN,20181011
19271,2004,Oklahoma,OK,Tulsa,40143.0,President,John Kerry,democrat,90220.0,NaN,20181011
19272,2004,Oklahoma,OK,Tulsa,40143.0,President,George W. Bush,republican,163452.0,NaN,20181011
19274,2004,Oklahoma,OK,Wagoner,40145.0,President,John Kerry,democrat,9157.0,NaN,20181011
19275,2004,Oklahoma,OK,Wagoner,40145.0,President,George W. Bush,republican,19081.0,NaN,20181011
19277,2004,Oklahoma,OK,Washington,40147.0,President,John Kerry,democrat,6862.0,NaN,20181011
19278,2004,Oklahoma,OK,Washington,40147.0,President,George W. Bush,republican,16551.0,NaN,20181011
19280,2004,Oklahoma,OK,Washita,40149.0,President,John Kerry,democrat,1340.0,NaN,20181011
19281,2004,Oklahoma,OK,Washita,40149.0,President,George W. Bush,republican,3705.0,NaN,20181011
19283,2004,Oklahoma,OK,Woods,40151.0,President,John Kerry,democrat,932.0,NaN,20181011
19284,2004,Oklahoma,OK,Woods,40151.0,President,George W. Bush,republican,3166.0,NaN,20181011
19286,2004,Oklahoma,OK,Woodward,40153.0,President,John Kerry,democrat,1458.0,NaN,20181011
19287,2004,Oklahoma,OK,Woodward,40153.0,President,George W. Bush,republican,6193.0,NaN,20181011
41042,2012,Connecticut,CT,Statewide writein,0.0,President,Barack Obama,democrat,39366.0,NaN,20181011
41046,2012,Connecticut,CT,Statewide writein,0.0,President,Mitt Romney,republican,30450.0,NaN,20181011
41050,2012,Connecticut,CT,Statewide writein,0.0,President,Other,other,1175.0,NaN,20181011
41043,2012,Maine,ME,Maine UOCAVA,0.0,President,Barack Obama,democrat,2071.0,NaN,20181011
41047,2012,Maine,ME,Maine UOCAVA,0.0,President,Mitt Romney,republican,858.0,NaN,20181011
41051,2012,Maine,ME,Maine UOCAVA,0.0,President,Other,other,125.0,NaN,20181011
50518,2016,Alaska,AL,District 99,0.0,President,Hillary Clinton,democrat,274.0,NaN,20181011
50522,2016,Alaska,AL,District 99,0.0,President,Donald Trump,republican,40.0,NaN,20181011
50526,2016,Alaska,AL,District 99,0.0,President,Other,other,28.0,NaN,20181011
50517,2016,Maine,ME,Maine UOCAVA,0.0,President,Hillary Clinton,democrat,3017.0,NaN,20181011
50521,2016,Maine,ME,Maine UOCAVA,0.0,President,Donald Trump,republican,648.0,NaN,20181011
50525,2016,Maine,ME,Maine UOCAVA,0.0,President,Other,other,321.0,NaN,20181011
50519,2016,Rhode Island,RI,Federal Precinct,0.0,President,Hillary Clinton,democrat,637.0,NaN,20181011
50523,2016,Rhode Island,RI,Federal Precinct,0.0,President,Donald Trump,republican,53.0,NaN,20181011
50527,2016,Rhode Island,RI,Federal Precinct,0.0,President,Other,other,38.0,NaN,20181011

In [794]:
df["dem_votes"] = 0
df["rep_votes"] = 0
df["oth_votes"] = 0
df["tot_votes"] = 0

In [795]:
df.loc[df['party'].eq('democrat'), 'dem_votes'] = df["candidatevotes"]
df.loc[df['party'].eq('republican'), 'rep_votes'] = df["candidatevotes"]
df.loc[(df['party'] != 'democrat') & (df['party'] != 'republican'), 'oth_votes'] = df["candidatevotes"]

In [796]:
df.head()

,year,state,state_po,county,FIPS,office,candidate,party,candidatevotes,totalvotes,version,dem_votes,rep_votes,oth_votes,tot_votes
0,2000,Alabama,AL,Autauga,1001.0,President,Al Gore,democrat,4942.0,17208.0,20181011,4942.0,0.0,0.0,0
1,2000,Alabama,AL,Autauga,1001.0,President,George W. Bush,republican,11993.0,17208.0,20181011,0.0,11993.0,0.0,0
2,2000,Alabama,AL,Autauga,1001.0,President,Ralph Nader,green,160.0,17208.0,20181011,0.0,0.0,160.0,0
3,2000,Alabama,AL,Autauga,1001.0,President,Other,other,113.0,17208.0,20181011,0.0,0.0,113.0,0
4,2000,Alabama,AL,Baldwin,1003.0,President,Al Gore,democrat,13997.0,56480.0,20181011,13997.0,0.0,0.0,0

In [797]:
df = df[["year", "state", "state_po", "county", "FIPS", "dem_votes",
         "rep_votes", "oth_votes", "tot_votes"]]
df["tot_votes"] = df["dem_votes"] + df["rep_votes"] + df["oth_votes"]
df.head()

,year,state,state_po,county,FIPS,dem_votes,rep_votes,oth_votes,tot_votes
0,2000,Alabama,AL,Autauga,1001.0,4942.0,0.0,0.0,4942.0
1,2000,Alabama,AL,Autauga,1001.0,0.0,11993.0,0.0,11993.0
2,2000,Alabama,AL,Autauga,1001.0,0.0,0.0,160.0,160.0
3,2000,Alabama,AL,Autauga,1001.0,0.0,0.0,113.0,113.0
4,2000,Alabama,AL,Baldwin,1003.0,13997.0,0.0,0.0,13997.0

In [798]:
df1 = df.groupby(['year', 'state', 'county'])
yr = df1["year"].min()
st = df1["state"].min()
cty = df1["county"].min()
dem = df1["dem_votes"].sum()
rep = df1["rep_votes"].sum()
oth = df1["oth_votes"].sum()
tot = df1["tot_votes"].sum()
summary = pd.DataFrame({"yr":yr, "st":st, "cty":cty, "dem":dem, "rep": rep, "oth": oth, "tot": tot})
summary.head()

                        yr       st      cty      dem      rep     oth  \
year state   county
2000 Alabama Autauga  2000  Alabama  Autauga   4942.0  11993.0   273.0
             Baldwin  2000  Alabama  Baldwin  13997.0  40872.0  1611.0
             Barbour  2000  Alabama  Barbour   5188.0   5096.0   111.0
             Bibb     2000  Alabama     Bibb   2710.0   4273.0   118.0
             Blount   2000  Alabama   Blount   4977.0  12667.0   329.0

                          tot
year state   county
2000 Alabama Autauga  17208.0
             Baldwin  56480.0
             Barbour  10395.0
             Bibb      7101.0
             Blount   17973.0

In [799]:
df2004 = summary.loc[summary["yr"] == 2004,:]
df2004.head()

                        yr       st      cty      dem      rep    oth      tot
year state   county
2004 Alabama Autauga  2004  Alabama  Autauga   4758.0  15196.0  127.0  20081.0
             Baldwin  2004  Alabama  Baldwin  15599.0  52971.0  750.0  69320.0
             Barbour  2004  Alabama  Barbour   4832.0   5899.0   46.0  10777.0
             Bibb     2004  Alabama     Bibb   2089.0   5472.0   39.0   7600.0
             Blount   2004  Alabama   Blount   3938.0  17386.0  180.0  21504.0