In [17]:
import pandas as pd
from sqlalchemy import create_engine

In [18]:
csv_file = "states.csv"
df = pd.read_csv(csv_file)
df1 = df[["state_abbrev","state_name","region"]]
df1 =  df1.set_index("state_abbrev")

In [19]:
df1.head()

              state_name     region
state_abbrev
AL               Alabama  Southeast
AK                Alaska      Other
AZ               Arizona  Southwest
AR              Arkansas  Southeast
CA            California    Pacific

In [20]:
import sqlalchemy
import psycopg2
from sqlalchemy import create_engine
engine = create_engine('postgresql://postgres:Peter@1947@localhost/VotingProject')
df1.to_sql("states",engine)